/*
!/.gitignore
!/README.md
!/extension/
!/local-collector/

/extension/*
!/extension/background.js
!/extension/content.js
!/extension/manifest.json
!/extension/popup.css
!/extension/popup.html
!/extension/popup.js

/local-collector/*
!/local-collector/build.ps1
!/local-collector/install-collector.ps1
!/local-collector/LessonCaptureCollector.cs
!/local-collector/LessonCaptureLauncher.cs
